
<router-outlet  class="appChild"></router-outlet>
<div class="filterPanel">
    <h2 class="filterLabel">Filter Games by...</h2>
    <input [(ngModel)] ="platformFilter" placeholder="platform...">
    <input [(ngModel)] ="realese_dateFilter" placeholder="release date...">
    <input [(ngModel)] ="categoryFilter" placeholder="category...">
    <input [(ngModel)] ="developerFilter" placeholder="developer..">
    <button class="filterButton" (click)="filterGames()"> Apply filters</button>
</div>

<h2 class="orderLabel">Order by 
<select #op (change)="onSelect(op.value)">
    <option value="nop">----</option>
    <option value="date">date</option>
    <option value="title">title</option>
    <option value="relevancia">relevancia</option>
    <option value="popularity">popularity</option>
</select>
</h2>


<ul class="gamelist">
    <h1>Your Favorite Games!</h1>
    <li class="listfav" *ngFor="let game of favGames">
        <button class="gameButton">
            <a routerLink="/detail/{{game.id}}">
                <img class="gameImg"src={{game.thumbnail}} alt="">
                <h2 class="gameTitle"> {{game.title}}</h2>
                <div class= "gamePlatform">{{game.platform}} </div>
            </a>
            <div class="buttonFavorite" (click)="unfavoriteGame(game)"> excluir de favoritos</div>
        </button>
       </li>
       <br>
       <br>
    <h1>Available Games!</h1>  
    <li class="listgames" *ngFor="let game of gameList">
    <button class="gameButton">
        <a routerLink="/detail/{{game.id}}">
            <img class="gameImg"src={{game.thumbnail}} alt="">
            <h2 class="gameTitle"> {{game.title}}</h2>
            <div class= "gamePlatform">{{game.platform}} </div>
        </a>
        <div class="buttonFavorite" (click)="favoriteGame(game)">adicionar a favoritos</div>
    </button>
    </li>
</ul>